bin/
obj/
out/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
logs/
*.log
pids
*.pid
*.seed
*.pid.lock
node_modules/
.npm
.node_repl_history
*.tgz
.env
*.bak
NovaPasta/
NovaPasta1/